conda.enabled = true
executor.perCpuMemAllocation = true

process {
    executor = 'slurm'
    cpus = 50
    memory = '32 GB'
}
executor {
    name = 'slurm'
    queueSize = 100
}
params {
    threads = "8"
    inputFile = "/home/achopra/BPA_Alt_Human/BPA/Fastq_dump/input/a.txt"
    fd_outDir = "/home/achopra/BPA_Alt_Human/BPA/Fastq_dump/"
    qc_outdir = "/home/achopra/BPA_Alt_Human/BPA/Fast_qc/"
    directory = "/home/achopra/BPA_Alt_Human/BPA/Fast_qc/directories.txt"
    qc_trimming = "/home/achopra/BPA_Alt_Human/BPA/Fast_p/"
    multiqc = "/home/achopra/BPA_Alt_Human/BPA/Multi_qc/"
    base_dir = "/home/achopra/BPA_Alt_Human/BPA/"
    genome_dir = "/home/achopra/BPA_Alt_Human/BPA/Mapping"
    probes_dir = "/home/achopra/BPA_Alt_Human/BPA/probes/"
    probes_output = "/home/achopra/BPA_Alt_Human/BPA/probes_output/"
    sort_by_coordinate = "/home/achopra/BPA_Alt_Human/BPA/Picard_coordinate/"
    mark_duplicate = "/home/achopra/BPA_Alt_Human/BPA/Mark_duplicates/"
    picard_jar_path = "/home/achopra/miniconda3/envs/picard/share/picard-3.3.0-0/picard.jar"
    feature_counts = "/home/achopra/BPA_Alt_Human/BPA/Feature_counts/"
    annotation_path="/home/achopra/BPA_Alt_Human/BPA/Human_ref_files/temposeq_annotations_with_transcripts.gtf"
    extract_script = "/home/achopra/BPA_Alt_Human/BPA/De_Seq/extractfileforpipeline.py"
}
